<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <!-- FireTV / Android TV: declare leanback feature (required for TV store) -->
    <uses-feature android:name="android.software.leanback" android:required="true" />
    <!-- Declare touchscreen NOT required (TV devices have no touch) -->
    <uses-feature android:name="android.hardware.touchscreen" android:required="false" />

    <application
        android:name=".NimtaFlowApp"
        android:allowBackup="false"
        android:banner="@drawable/tv_banner"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.NimtaFlowTV"
        android:usesCleartextTraffic="true">  <!-- allow http:// for local network -->

        <activity
            android:name=".MainActivity"
            android:banner="@drawable/tv_banner"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize|smallestScreenSize"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <!-- LEANBACK_LAUNCHER puts the app in the TV home screen -->
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Bildschirmschoner (DreamService) -->
        <service
            android:name=".screensaver.NimtaFlowDreamService"
            android:exported="true"
            android:label="NimtaFlow"
            android:permission="android.permission.BIND_DREAM_SERVICE">
            <intent-filter>
                <action android:name="android.service.dreams.DreamService" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>
</manifest>
